<%= link_to "Show all my bookings", bookings_path %>
<div class="card-wrapper">
<% @items.each do |item| %>
<div class="card-product">
  <a href="<%= item_url(item) %>"><%= image_tag(item.picture_url) %></a>
  <h2><%= item.name %></h2>
  <div class="card-product-infos">
    <p>Category: <%= item.category %></p>
    <p>Price/day: <%= item.price %></p>
    <p>Deposit: <%= item.deposit %></p>
    <p>User: <%= item.user.first_name %> <%= item.user.last_name %></p>
  </div>
</div>
<% end %>
</div>
