
<h1>Product Details:</h1>
  <div class="card">
    <div class="row">
      <div class="col-md-6 text-center align-self-center"><%= image_tag(@item.picture_url) %></div>
      <div class="col-md-6 info">
        <div class="row title">
          <div class="col"><h2><%= @item.name%></h2> in <%= @item.category%>
</div>
          <div class="col text-right"><a href="#"><i class="fa fa-heart-o"></i></a></div>
        </div>
        <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star-half-full"></span> <span id="reviews">15 Reviews</span>
        <div class="row price">
          <div class="row"><h3 class="mb-0 font-weight-semibold"><%= @item.price%> USD/day</h3></div></a>
          <p>Location: <%= @item.user.location%></p>
          <%= link_to "Book this item", new_item_booking_path(@item) %>
          <%= link_to "Back to item page", items_path %>
          <h2>See on map:</h2>
          <div id="map"
              style="width: 100%; height: 600px;"
              data-markers="<%= @marker.to_json %>"
              data-mapbox-api-key="<%= Rails.application.credentials.dig(:MAPBOX_API_KEY) %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>
